*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: rgba(254, 246, 240, 1);
    color: #000;
}

header{
    background-color: rgba(255, 216, 190, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
}


div .logo{
    background-color: white;
    border-radius: 50%;
    width: 90px;
    display: inline;
}

.logo{
    width: 70px;
    height: auto;
    margin-left: 20px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

nav a{
    text-decoration: none;
    font-family: "Pacifico", cursive;
    color: black;
    font-size: 1.3rem;

}

nav a:hover{
    color: white;
    transition: all 0.3s ease;
}

.material-symbols-outlined {
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0;
    color: rgb(0, 0, 0);
    font-size: 40px !important;
    transition: all 0.3s ease;
    user-select: none;
}

.material-symbols-outlined:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    user-select: none;
}

div .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

span{
    margin: 10px;
}


.carrousel {
  width: 100vw; /* ocupa todo el ancho de la ventana */
  margin: 0; /* elimina los m치rgenes */
  overflow: hidden;
  border-radius: 0; /* sin bordes redondeados en los extremos */
  position: relative;
  margin: 20px 0 20px 0;

}

.slides {
  display: flex;
  gap: 20px;
  animation: scroll 30s linear infinite;
}

.slides img {
  width: 33.333vw; /* 3 im치genes visibles al mismo tiempo */
  height: 500px;
  object-fit: cover;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

/* Hover: pausa */
.carrousel:hover .slides {
  animation-play-state: paused;
}

/* Hover: zoom */
.slides img:hover {
  transform: scale(1.02);
  border-radius: 10px;
}

/* Animaci칩n infinita fluida */
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* -50% porque duplicamos im치genes */
}

.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgba(255, 216, 190, 1);
    padding: 50px;
}

.container-2 h2{
    font-size: 30px;
}

.container-2 div{
    display: flex;
}

.container-2 img{
    width: 220px;
    height: 320px;
    object-fit: cover;
    padding: 20px;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.container-2 img:hover{
    transform: scale(1.2);
}

footer{
  background-color: #EAEAEA;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 60px 0 60px 0;
  
}

footer div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

footer img{
    border-radius: 100%;
    width: 30px;
}

footer p{
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 768px) {
    
}




