*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(255, 216, 190, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;

    
}
body{
    font-family: "Poppins", sans-serif;
    background-color: rgba(254, 246, 240, 1);
    color: #000;
}

div .logo{
    background-color: white;
    border-radius: 50%;
    width: 90px;
    display: inline;
}

.logo{
    width: 70px;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

nav a{
    text-decoration: none;
    font-family: "Pacifico", cursive;
    color: black;
    font-size: 1.3rem;
    position: relative;

}

nav a:hover{
    background-color: white;
    border-radius: 40%;
    transition: all 0.3s ease;
}

.material-symbols-outlined {
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0;
    color: rgb(0, 0, 0);
    font-size: 40px !important;
    transition: all 0.3s ease;
    user-select: none;
}

.material-symbols-outlined:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    user-select: none;
}

div .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    margin-top: 10px;

}

.logo1{
    background-color: white;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 20px;
}


.cajaForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 232, 226);
}

h1{
    font-family: "Poppins", sans-serif;
    color: rgba(204, 65, 86, 1);
    margin-bottom: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario input{
    padding: 10px;
    border: 1px solid rgba(204, 65, 86, 1);
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;

}
button{
    margin-top: 20px;
    color: white;
    background-color: rgba(204, 65, 86, 1);
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

button:hover{
    background-color: rgba(255, 99, 132, 1);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

/**************************************************************************************************************************************/


.menu-toggle{
    display: none;

}

.menu-icon{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    padding: 10px;
}

.menu-icon span{
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.3s ease;
}


@media (max-width: 768px) {

    .menu-icon{
        display: flex;

    }

    nav{
        display: none;
        position: absolute;
        top: 100px;
        background-color: rgb(239, 202, 178);
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        z-index: 10;
        box-shadow: #000 0px 4px 4px 0px;
        width: 100vw;
    } 
    #menu-toggle:checked + .menu-icon span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
    }

    #menu-toggle:checked + .menu-icon span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .menu-icon span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
    }
    #menu-toggle:checked ~ nav {
        display: flex;
    }


    .cajaForm{
        width: 90%;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
        border-radius: 20px;
    }

    form{
        width: 100%;
        padding: 20px;
    }


    nav a{
        font-size: 1.5rem;
        border-bottom: solid 1px black;
    }

    h1{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
    }

}
