
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fffafc;
    color: #020202;
    margin: 0;
    padding: 0;
}

main {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
}


header {
    background-color: #ffe4ec;
    padding: 10px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logo img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.menu {
    list-style: none;
    display: flex;
    gap: 35px;
}

.menu li a {
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: #000;
    font-size: 22px;
    transition: all 0.3s ease;
    padding: 4px 8px; 
    border-radius: 25px; 
    background-color: transparent;
    display: inline-block; 
}

.menu li a:hover {
    background-color: #fff; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transform: translateY(-2px); 
}

.menu li a:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.iconos img {
    height: 40px;
    margin-left: 15px;
}

/* FORMULARIO */
h2 {
  
    text-align: center;
    color: #d94f8a;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 12px; 
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #f19dc3;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #f19dc3;
}

#direccionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/*FOOTER */
.footer-contacto {
  background-color: #efefef;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}


.contacto-izquierda p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}


.contacto-derecha {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.icono-instagram {
  width: 25px;
  height: 25px;
}