*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(255, 216, 190, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
body{
    font-family: "Poppins", sans-serif;
    background-color: rgba(254, 246, 240, 1);
    color: #000;
}

div .logo{
    background-color: white;
    border-radius: 50%;
    width: 90px;
    display: inline;
}

.logo{
    width: 70px;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

nav a{
    text-decoration: none;
    font-family: "Pacifico", cursive;
    color: black;
    font-size: 1.3rem;
    position: relative;

}

nav a:hover{
    color: white;
    transition: all 0.3s ease;
}

.material-symbols-outlined {
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0;
    color: rgb(0, 0, 0);
    font-size: 40px !important;
    transition: all 0.3s ease;
}

.material-symbols-outlined:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

div .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    margin-top: 10px;

}

.registro{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    padding: 60px;
}

.info{
    flex: 1;
    text-align: center;
}

h2{
    display: flex;
    justify-content: flex-start;
    margin-left: 25vh;
    text-align: center;
    margin-top: 20px;
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    color: rgba(204, 65, 86, 1);
}

p{
    display: flex;
    justify-content: flex-start;
    margin-left: 5vh;
    text-align: center;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
}

.imagenP{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}

.imagenPastel{
    width: 350px;
    height: auto;

}

.formulario{
    display:  flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    flex-direction: column;
    background-color: rgb(250, 232, 226);
    border-radius: 20px;
    width: 40%;
    height: max-content;
}

button{
    color: white;
    background-color: rgba(204, 65, 86, 1);
    border: none;
    border-radius: 20px;
    padding: 10px;
    
}

button:hover{
    background-color: rgba(255, 99, 132, 1);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;

}

.formulario input{
    padding: 10px;
    border: 1px solid rgba(204, 65, 86, 1);
    border-radius: 10px;
    font-size: 1rem;

}
