*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(255, 216, 190, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rgba(254, 246, 240, 1);
    color: #000;
}

div .logo{
    background-color: white;
    border-radius: 50%;
    width: 90px;
    display: inline;
}

.logo{
    width: 70px;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

nav a{
    text-decoration: none;
    font-family: "Pacifico", cursive;
    color: black;
    font-size: 1.3rem;
    position: relative;

}

nav a:hover{

    background-color: white;
    border-radius: 40%;
    transition: all 0.3s ease;
}

.material-symbols-outlined {
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0;
    color: rgb(0, 0, 0);
    font-size: 40px !important;
    transition: all 0.3s ease;
    user-select: none;
}

.material-symbols-outlined:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    user-select: none;
}

div .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    margin-top: 10px;

}

.registro{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    padding: 60px;
}

.info{
    flex: 1;
    white-space: pre-line;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    color: rgba(204, 65, 86, 1);
}

p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
}

.imagenP{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenPastel{
    width: 25vw;
    height: auto;
}

.formulario{
    display:  flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    flex-direction: column;
    background-color: rgb(250, 232, 226);
    border-radius: 20px;
    width: 40vw;
    height: 80vh;
}

button{
    color: white;
    background-color: rgba(204, 65, 86, 1);
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
}

button:hover{
    background-color: rgba(255, 99, 132, 1);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    width: 80%;
    
}

.formulario input{
    padding: 10px;
    border: 1px solid rgba(204, 65, 86, 1);
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;

}

.login1{
    margin-top: 50px;
}

.login2{
    color: rgba(204, 65, 86, 1);
    font-family: "Poppins", sans-serif;
    font-weight: bold;

}

.pregunta{
     color: rgba(204, 65, 86, 1);
     font-family: "Poppins", sans-serif;
}





/**************************************************************************************************************************************/


.menu-toggle{
    display: none;

}

.menu-icon{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    padding: 10px;
}

.menu-icon span{
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.3s ease;
}


@media (max-width: 768px) {

    .menu-icon{
        display: flex;

    }

    nav{
        display: none;
        position: absolute;
        top: 100px;
        background-color: rgb(239, 202, 178);
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        z-index: 10;
        box-shadow: #000 0px 4px 4px 0px;
        width: 100vw;
    } 
    #menu-toggle:checked + .menu-icon span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
    }

    #menu-toggle:checked + .menu-icon span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .menu-icon span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
    }
    #menu-toggle:checked ~ nav {
        display: flex;
    }


    .registro{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .info{
        text-align: justify;
        margin-bottom: 20px;
        white-space: normal;
    }

    .imagenPastel{
        width: 80vw;
        height: auto;
    }

    .formulario{
        width: 80vw;
        height: auto;
        margin-right: 0;
        padding: 20px;
    }

    form{
        width: 100%;
        padding: 20px;
    }


    nav a{
        font-size: 1.5rem;
        border-bottom: solid 1px black;
    }



}
